@model GameSphere.Models.Post

@{
    ViewData["Title"] = "Create";
}

<h4>Add a new Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <!-- Add enctype attribute for file upload -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Topic" class="control-label"></label>
                <input asp-for="Topic" class="form-control" />
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostedBy" class="control-label"></label>
                <input asp-for="PostedBy" class="form-control" value="@User.Identity?.Name" readonly />
                <span asp-validation-for="PostedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">PostedAt</label>
                <input class="form-control" value="@DateTime.UtcNow.ToString()" readonly />
            </div>
            <div class="form-group">
                <!-- New file input field for image upload -->
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Publish" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
