@model GameSphere.Models.Post

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Topic" class="control-label"></label>
                <input asp-for="Topic" class="form-control" />
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostedBy" class="control-label"></label>
                <input asp-for="PostedBy" class="form-control" value="@User.Identity?.Name" readonly />  @*------*@
                <span asp-validation-for="PostedBy" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="MessaAt" class="control-label"></label>
                <input asp-for="MessaAt" class="form-control" />
                <span asp-validation-for="MessaAt" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label class="control-label">PostedAt</label>
                <input class="form-control" value="@DateTime.UtcNow.ToString()" readonly />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
